<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> login page</h1>
     <form method="post" action="/add_student_process".
     >
        {% csrf_token %}
        Name : <input type="text" name="txt1"/> 
        Mobile : <input type="number" name="txt2"/> 
        email : <input type="mail" name="txt3"/> 
        Message : <input type="text" name="txt4"/> 
        <input type="submit"/>
    </form>
</body>
</html>
