<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    {% include 'menu.html' %}
    <h1> hello Contact page</h1>
    
   

    <form method="post" action="/contactprocess">
        {% csrf_token %}
        Name : <input type="text" name="txt1"/> <br/>
        Mobile : <input type="number" name="txt2"/> <br/> 
        email : <input type="mail" name="txt3"/> <br/>
        Message : <input type="text" name="txt4"/> <br/>
        <input type="submit"/>
    </form>
        
</body>
</html>