<html>
<body>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>CategoryName</th>
            <th>Action</th>
        </tr>
        {% for c in category %}
        </tr>
             <td>{{c.id}}</td>
             <td>{{c.title}}</td>
             <td>
                <a href="/edit-category/{{c.id}}/">Edit</a>
                <a href="/delete-category/{{c.id}}/"
                onclick="return confirm('Are you sure?')">Delete</a> 
             </td>
        {% endfor %}
    </table>
</body>    
</html>