<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% include 'menu.html' %}
    <h1> marksheet</h1>
    <form method="post" action="{% url 'marksheetprocess' %}">
        {% csrf_token %}
        subject 1:<input type="number" min="1" max="100" name="txt1" required autocomplete="off"/>
        subject 2:<input type="number" min="1" max="100" name="txt2" required autocomplete="off"/>
        subject 3:<input type="number" min="1" max="100" name="txt3" required autocomplete="off"/>
        subject 4:<input type="number" min="1" max="100" name="txt4" required autocomplete="off"/>
        subject 5:<input type="number" min="1" max="100" name="txt5" required autocomplete="off"/>
        <input type="submit"/>
    </form>
    
</body>
</html>