<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel ="stylesheet" 
   
</head>
<body>
   
    <h1> subject 1 marks {{mya}}</h1>
    <h1> subject 2 marks {{myb}}</h1>
    <h1> subject 3 marks {{myc}}</h1>
    <h1> subject 4 marks {{myd}}</h1>
    <h1> subject 5 marks {{mye}}</h1>
    <h1> grade {{mygrade}}</h1>
    <h1> total marks {{mytotal}}</h1>
    <h1> percentage {{mypercentage}}</h1>       
    
</body>
</html>


